{% extends "userprofile/base_2col.html" %}
{% load i18n %}

{% block title %}{% trans "Overview of your profile" %}{% endblock %}
{% block robots %}noindex,nofollow{% endblock %}

{% block extrajs %}
  <script type="text/javascript">
$(function () {
    var dx = [
    {% for tick in time_array %}
      {% if tick %}
       [ {{ tick }}, 1],
      {% else %}
        null,
      {% endif %}
    {% endfor %}
];


var options = {
      lines: { show: true, fill: false, fillColor: "rgba(255, 255, 0, 0.4)" , lineWidth:20 },
      xaxis: { mode: "time" },
      yaxis: { from: 1, to: 1 }
  };    
    $.plot($("#placeholder"), [dx], options);

    var dxx = [
          {% for each_entry in app_bar %}
           [ {{ forloop.counter }}, {{ each_entry.percent }}],
          {% endfor %}
 ];

var bar_options = {
        yaxis: { min: 1, max: 30 , },
        xaxis: { min: 1, max: 15 , ticks: [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]},
        bars: { show: true, fill: true, fillColor: "rgb(255, 47, 47)" }
}
    $.plot($("#splitup"), [dxx], bar_options);
});
  </script>
{% endblock %}

{% block userprofile_navigation %}
{% include "userprofile/menu.html" %}
{% endblock %}

{% block userprofile_content %}
    <h1>{{ user.username }}</h1>

    <div id="placeholder" style="width:500px;height:150px;"></div>

    <p>Effective time clocked: <b>{{ effective_hrs }}</b> hours, <b>{{ effective_min }}</b> minutes</p>
    <p>Total time clocked: <b>{{ total_hrs }}</b> hours, <b>{{ total_min }}</b> minutes</p>
    <p>Gaps indicate period of inactivity.</p>

    <div id="splitup" style="width:500px;height:400px;"></div>

<h3> Legend: </h3>

{% for each_entry in app_bar %}
<p>{{ forloop.counter }} - {{ each_entry.appname }}</p>
{% endfor %}

{% endblock %}

{% block userprofile_content_related %}
	<div class="box">
		<h3>{% trans "Management:" %}</h3>
		<a href="{% url password_change %}">{% trans "Change password" %}</a>
		<br />
		<a href="{% url email_validation %}">{% if email %}{% trans "Change your e-mail address" %}{% else %}{% trans "Add your e-mail address" %}{% endif %}</a>
		{% if not validated and email %}<br /><a href="{% url email_validation_reset %}">{% trans "Resend validation e-mail" %}</a>
		{% endif %}
		<br />
		{% if not user.get_profile.location %}
			<a href="{% url profile_edit_location %}">{% trans "Add location" %}</a>
		{% else %}
			<a href="{% url profile_edit_location %}">{% trans "Change location" %}</a>
		{% endif %}
	</div>
{% endblock %}
