{% extends "userprofile/base_2col.html" %}
{% load i18n %}

{% block title %}{% trans "Overview of your profile" %}{% endblock %}
{% block robots %}noindex,nofollow{% endblock %}

{% block extracss %}
	<link rel="stylesheet" href="{{ MEDIA_URL }}userprofile/css/ui.datepicker.css" type="text/css" />
{% endblock %}

{% block extrajs %}
  <script type="text/javascript" src="{{ MEDIA_URL }}userprofile/js/ui.datepicker.js"></script>
  <script type="text/javascript">
$(function () {
$("#id_timestamp").addClass("hide");
$("#id_timestamp").before('<div class="calendar"></div>');

	var date = $("#id_timestamp").val().split("-");
  $("div.calendar").datepicker({ onSelect: updateInline, hideIfNoPrevNext: true, yearRange: "1940:2010", defaultDate: new Date(date[0],date[1] -1, date[2]) });

	function updateInline(dateStr) {
		var arrdate = dateStr.split("/");
		$("#id_timestamp").val(arrdate[2] + "-" + arrdate[0] + "-" + arrdate[1]);
	}

    var data1 = {{ time_array }};

var options1 = {
      xaxis: { mode: "time" },
      yaxis: { min: -2, max: 2 },
  };    
    $.plot($("#placeholder1"), [data1], options1);

    var dxx = {{ app_pc }};

var bar_options = {
        yaxis: { min: 1, max: 25 , },
        xaxis: { min: 1, max: 15 , ticks: [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]},
        bars: { show: true, fill: true, fillColor: "rgba(255, 47, 47, 0.8)" }
}
    $.plot($("#splitup"), [dxx], bar_options);
});
  </script>
{% endblock %}

{% block userprofile_navigation %}
{% include "userprofile/menu.html" %}
{% endblock %}

{% block userprofile_content %}
    <h1>{{ user.username }}</h1>

    <div id="placeholder1" style="width:500px;height:150px;"></div>

    <p>Effective time clocked: <b>{{ effective_hrs }}</b> hours, <b>{{ effective_min }}</b> minutes</p>
    <p>Total time clocked: <b>{{ total_hrs }}</b> hours, <b>{{ total_min }}</b> minutes</p>
    <p>Gaps indicate period of inactivity.</p>

    <div id="splitup" style="width:500px;height:400px;"></div>

<h3> Legend: </h3>

{% for each_entry in app_bar %}
<p>{{ forloop.counter }} - {{ each_entry.appname }}</p>
{% endfor %}

{% endblock %}

{% block userprofile_content_related %}

	<form class="personal" action="{{ request.path_info }}" method="post" enctype="multipart/form-data">
	<fieldset>
		<legend>{% trans "Select a date to view  the timesheet:" %}</legend>
		  {{ dateForm.as_p }}
		<input type="submit" value="{% trans 'Go' %}" />
	</fieldset>
	</form>

	<div class="box">
		<h3>{% trans "Management:" %}</h3>
		<a href="{% url password_change %}">{% trans "Change password" %}</a>
		<br />
		<a href="{% url email_validation %}">{% if email %}{% trans "Change your e-mail address" %}{% else %}{% trans "Add your e-mail address" %}{% endif %}</a>
		{% if not validated and email %}<br /><a href="{% url email_validation_reset %}">{% trans "Resend validation e-mail" %}</a>
		{% endif %}
		<br />
		{% if not user.get_profile.location %}
			<a href="{% url profile_edit_location %}">{% trans "Add location" %}</a>
		{% else %}
			<a href="{% url profile_edit_location %}">{% trans "Change location" %}</a>
		{% endif %}
	</div>
{% endblock %}
