{% extends "base.html" %}
{% load i18n %}
{% load avatars %}
{% block title %}{% trans "Front page" %}{% endblock %}

{% block content %}
<!--
<h2>{% trans "People who have already tried this demo" %}</h2>

{% for profile in profiles %}
<div class="vcard span-8 grid_8">
  <div class="span-2 grid_2">
    <a href="{{ profile.get_absolute_url }}">
      <img class="border" src="{% avatar 64 profile.user %}" alt="{{ profile.user }}"/>
    </a>
  </div>
  <div class="span-5 grid_5">
    <ul>
    <li class="fn username"><strong>{% trans "Username" %}:</strong> {{ profile.user }}</li>
    <li><a href="{{ profile.get_absolute_url }}">{% trans "Public profile information" %}</a></li>
    </ul>
  </div>
</div>
{% endfor %}
-->
<h3> 
download the windows client <a href="http://timedefrag.com/site_media/apps/Timedefrag.zip">here</a>.
<div>how to install:</div>
<ol>
<li> unzip the attachment</li>
<li> create a file in c: called "opts.txt" and give your username and password separated by ":". 
<div>
Example:

lakshminp:passwd1
</div>
</li>
<li> run the "timesheet" program. </li>
</ol>

you're done.
It uploads data every 1 minute.
<div>
constraints:
does not work if you are offline.
</div>
</h3>

{% endblock %}

